<!DOCTYPE html>
<html>
<head>
	<title></title>

	<style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 100%;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 80%;
        width:80%;
        text-align: center;
        margin: 60px;
        padding: 60px;
      }
    </style>

</head>
<body>
<h1> RESTAURANTS IN YOUR AREA </h1>


<div id="demo"></div>
	
  
  <body>
    <div id="map"></div>
   

    <script>
    <%console.log(nearbyResArray);%>

    var x = document.getElementById("demo");
	function getLocation() {
	    if (navigator.geolocation) {
	        navigator.geolocation.getCurrentPosition(showPosition);
	    } else {
	        x.innerHTML = "Geolocation is not supported by this browser.";
	    }
	}
	function showPosition(position) {
	    x.innerHTML = "Latitude: " + position.coords.latitude + 
	    "<br>Longitude: " + position.coords.longitude; 
	}
	getLocation();

    var centerPoint = {lat:<%=nearbyResArray[0].location.latitude%>, lng: <%=nearbyResArray[0].location.longitude%>}

	
	var markers = [];

	var infoWindowContent = ["<div>Best Spot in Midtown</div>", "<div>Whatta ya Have!</div>", "<div>Buckhead Fish</div>"];
	

	var map;
	function initMap() {
	  // var myLatLng = {lat:, lng: };
	  map = new google.maps.Map(document.getElementById('map'), {
	      center: centerPoint,
	      zoom: 12
	    });

	dropMarker()
	};


	function dropMarker(){
		var infoWindow = new google.maps.InfoWindow(), marker, i;
		<%for (let i = 0; i < nearbyResArray.length; i++){%>
			var marker = new google.maps.Marker({
		      	position: {lat:<%=nearbyResArray[i].location.latitude%>, lng:<%=nearbyResArray[i].location.longitude%>},
		      	animation: google.maps.Animation.DROP,
		      	map: map,
		     	title: "<%-nearbyResArray[i].name%>",
		     	cuisines: "<%-nearbyResArray[i].cuisines%>",
		     	address: "<%=nearbyResArray[i].location.address%>",
		     	rating: "<%=nearbyResArray[i].user_rating.aggregate_rating%>",
		     	cost: <%=nearbyResArray[i].price_range%>,
		     	url: "<%=nearbyResArray[i].url%>"
		    });
			infoWindow.setContent("<%-nearbyResArray[i].name%>");
		    markers.push(marker);
		    
		    console.log(markers)
		    for(let i = 0; i < markers.length; i++){
		    	
	   			markers[i].addListener('click', function() {
      				infoWindow.open(map, markers[i]);
      				infoWindow.setContent("<p>" + markers[i].address + "<br />" + 
                  "cuisine: " + markers[i].cuisines + "<br />" + "rating(out of 5): " + markers[i].rating + "<br />" + "price range: " + markers[i].cost + "<br />" + markers[i].url + "</p>");
      				

	    	});	
        		
        	
	   		}
				        
	 
	  	<%}%>
	}
	  		  	
	    
    </script>
 

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDMhTz95_uN41xRrxZK4wxovk9VOE0KAcI&callback=initMap"
    async defer></script>

<% for (let i = 0; i < nearbyResArray.length; i++){%>

	<h3><%=nearbyResArray[i].name %></h3>
	<h4><%=nearbyResArray[i].cuisines%></h4>
	<h5><%=nearbyResArray[i].location.address %></h5>
	<h5><%=nearbyResArray[i].location.locality_verbose %></h5>
	<h5><%=nearbyResArray[i].location.latitude %></h5>
	<h5><%=nearbyResArray[i].location.longitude %></h5>
	<h5><%=nearbyResArray[i].url %></h5>


<%}%>





</body>
</html>