<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
<style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 100%;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 80%;
        width:80%;
        text-align: center;
        margin: 60px;
        padding: 60px;
      }
    </style>
  </head>
  <body>
    <div id="map"></div>
    <script>
      var map;
      function initMap() {
        var myLatLng = {lat: 33.7490, lng: -84.3880};
        map = new google.maps.Map(document.getElementById('map'), {
          center: myLatLng,
          zoom: 8
        });
        // var contentString = '<div id="content">'+
        //     '<div id="siteNotice">'+
        //     '</div>'+
        //     '<h1 id="firstHeading" class="firstHeading">Atlanta</h1>'+
        //     '<div id="bodyContent">'+
        //     '<p><b>Atlanta</b>, also referred to as <b>A-Town</b>, is a large ' +
        //     'sandstone rock formation in the southern part of the '+
        //     'Northern Territory, central Australia. It lies 335&#160;km (208&#160;mi) '+
        //     'south west of the nearest large town, Alice Springs; 450&#160;km '+
        //     '(280&#160;mi) by road. Kata Tjuta and Uluru are the two major '+
        //     'features of the Uluru - Kata Tjuta National Park. Uluru is '+
        //     'sacred to the Pitjantjatjara and Yankunytjatjara, the '+
        //     'Aboriginal people of the area. It has many springs, waterholes, '+
        //     'rock caves and ancient paintings. Uluru is listed as a World '+
        //     'Heritage Site.</p>'+
        //     '<p>Attribution: Atlanta, <a href="https://en.wikipedia.org/wiki/Atlanta">'+
        //     ' '+
        //     '</p>'+
        //     '</div>'+
        //     '</div>';
        var contentString = ''
        var infowindow = new google.maps.InfoWindow({
          content: contentString
        });
        var marker = new google.maps.Marker({
          position: myLatLng,
          map: map,
          title: 'Hello World!'
      });
        marker.addListener('click', function() {
          infowindow.open(map, marker);
        });
      }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDMhTz95_uN41xRrxZK4wxovk9VOE0KAcI&callback=initMap"
    async defer></script>

<h2> Top Rated Restaurants </h2>

<% for (let i = 0; i < nextData.best_rated_restaurant.length; i++) {%>

<ol>
	<li><%=nextData.best_rated_restaurant[i].restaurant.name%></li>
	<li><%=nextData.best_rated_restaurant[i].restaurant.cuisines%></li>
	<li><%=nextData.best_rated_restaurant[i].restaurant.location.address%></li>
	<li><%=nextData.best_rated_restaurant[i].restaurant.location.locality_verbose%></li>
	<li><%=nextData.best_rated_restaurant[i].restaurant.location.latitude%></li>
	<li><%=nextData.best_rated_restaurant[i].restaurant.location.longitude%></li>
	<li><%=nextData.best_rated_restaurant[i].restaurant.url%></li>
</ol>


<% }%>

</body>
</html>