<!DOCTYPE html>
<html>
<head>
	<title></title>

	<style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 100%;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 80%;
        width:80%;
        text-align: center;
        margin: 60px;
        padding: 60px;
      }
    </style>

</head>
<body>
<div id="demo"></div>
	
  

	<div id="map"></div>
	<script>
	<%console.log(nextData.best_rated_restaurant);%>

	var x = document.getElementById("demo");
	function getLocation() {
	    if (navigator.geolocation) {
	        navigator.geolocation.getCurrentPosition(showPosition);
	    } else {
	        x.innerHTML = "Geolocation is not supported by this browser.";
	    }
	}
	function showPosition(position) {
	    x.innerHTML = "Latitude: " + position.coords.latitude + 
	    "<br>Longitude: " + position.coords.longitude; 
	}
	getLocation();
    
 
	var centerPoint = {lat:<%=nextData.best_rated_restaurant[0].restaurant.location.latitude%>, lng: <%=nextData.best_rated_restaurant[0].restaurant.location.longitude%>}

	var markers = [];

	var infoWindowContent = ["<div>Best Spot in Midtown</div>", "<div>Whatta ya Have!</div>", "<div>Buckhead Fish</div>"];
	

	var map;
	function initMap() {
	  // var myLatLng = {lat:, lng: };
	  map = new google.maps.Map(document.getElementById('map'), {
	      center: centerPoint,
	      zoom: 10
	    });

	dropMarker();
	};


	function dropMarker(){
		var infoWindow = new google.maps.InfoWindow(), marker, i;
		<%for (let i = 0; i < nextData.best_rated_restaurant.length; i++){%>
			var marker = new google.maps.Marker({
		      	position: {lat:<%=nextData.best_rated_restaurant[i].restaurant.location.latitude%>, lng:<%=nextData.best_rated_restaurant[i].restaurant.location.longitude%>},
		      	animation: google.maps.Animation.DROP,
		      	map: map,
		     	title: "<%=nextData.best_rated_restaurant[i].restaurant.name%>"
		    });

		    markers.push(marker);
		    // console.log(markers)
		    for(let i = 0; i < markers.length; i++){
		    	
	   			markers[i].addListener('click', function() {
      				infoWindow.open(map, markers[i]);
      				infoWindow.setContent(infoWindowContent[i]);

	    			});
        		
        	}
			        
	 
	  	<%}%>
	}
	  		
      
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDMhTz95_uN41xRrxZK4wxovk9VOE0KAcI&callback=initMap"
async defer></script>

<h2> Top Rated Restaurants </h2>

<% for (let i = 0; i < nextData.best_rated_restaurant.length; i++) {%>

<ol>
	<li><%=nextData.best_rated_restaurant[i].restaurant.name%></li>
	<li><%=nextData.best_rated_restaurant[i].restaurant.cuisines%></li>
	<li><%=nextData.best_rated_restaurant[i].restaurant.location.address%></li>
	<li><%=nextData.best_rated_restaurant[i].restaurant.location.locality_verbose%></li>
	<li><%=nextData.best_rated_restaurant[i].restaurant.location.latitude%></li>
	<li><%=nextData.best_rated_restaurant[i].restaurant.location.longitude%></li>
	<li><%=nextData.best_rated_restaurant[i].restaurant.url%></li>
</ol>


<% }%>

</body>
</html>